@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .styles-adress {
    margin-left: 332px;
  }
  .logo {
    margin-right: 76px;
  }
  .site-contacts {
    display: flex;
    align-items: normal;
    flex-direction: row;
    gap: 0;
  }
  .address-tel {
    margin-left: 40px;
  }

  /* ========hero======= */
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-desktop/people-office-x1.jpg");
    max-width: 1440px;
    height: 600px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      max-width: 1440px;
      height: 600px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-desktop/people-office-x2.jpg);
    }
  }
  .hero-container {
    /* padding: 188px 0; */
  }
  /* ========/hero======= */
  /* ========section======= */
  .section {
    padding: 120px 0;
  }
  .hero-title {
    padding: 0;
    padding-top: 188px;

    margin-right: auto;
    margin-left: auto;

    color: var(--hero-text-color);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.08;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
  }
  .section-items {
    width: calc((100% - 72px) / 4);
  }
  .section-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .sections-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .sections-icon-list {
    display: block;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--background-fone);
    padding: 24px 100px;
  }
  .section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    min-width: 264px;
    margin: 0;
  }
  .sections-icon {
    padding: 24px 100px;
  }
  /* ========section======= */
  /* ========section-2======= */
  .section-meta {
    display: block;
  }
  .meta-caption {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .meta-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
  }
  .meta-pic {
    flex-basis: calc((100% - 48px) / 3);
  }
  /* ========/section-2======= */
  /* ========section-3======= */
  .section-team {
    padding: 120px 0;
  }
  .team-item {
    flex-direction: row;
    align-items: stretch;
  }
  .team-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 0px 32px; */
    gap: 24px;
    margin-top: 72px;
  }
  .social-list-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    border-radius: 50px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover,
  .social-list-link:focus {
    background-color: var(--portfolio-btn-color);
  }
  .social-list-icon {
    fill: var(--hero-text-color);
  }
  /* ========/section-3======= */
  /* ========section-4======= */
  .customers {
    padding: 120px 0 120px;
  }
  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  /* ========/section-4======= */
  /* ========modal======= */
  .modal {
    min-width: 408px;
    min-height: 584px;
  }
  /* ========/modal======= */
  /* ========footer======= */
  /*.footer {
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .logofoter {
    color: var(--background-fone);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 16px;
  }
  .footer-text {
    color: var(--text-dark-background);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin: 0;
  }
  .footer-blok {
    width: 264px;
  }
  .footer-social {
    display: inline-block;
    width: 208px;
    margin-left: 120px;
  }
  .footer-positions {
    display: flex;
  }
  .footer-social-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);

    margin-bottom: 16px;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
  }
  .footer-social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: #31d0aa;
  }
  .footer-social-list-icon {
    fill: var(--hero-text-color);
  }
  .position-footer-form {
    display: inline-block;
    margin-left: 80px;
  }
  .footer-label-style {
    display: flex;
    margin-top: 16px;
  }
  .footer-input-modal {
    color: var(--hero-text-color);
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: var(--title-text-color);
    min-width: 264px;
    height: 40px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-input-modal:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  .footer-input-modal::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    padding: 16px 8px;

    color: var(--hero-text-color);
  }

  .form-footer {
    display: flex;
    flex-direction: row;
  }
  .footer-form-sabmit {
    background-color: var(--accent-color);
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    margin-left: 24px;

    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--hero-text-color);

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-sabmit:hover,
  .footer-form-sabmit:focus {
    background-color: var(--studio-btn-hover);
    color: var(--hero-text-color);
  }
  .text-footer-form {
    display: inline-block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--hero-text-color);
    margin-bottom: 0;
    margin-top: 0;
  }

  .footer-form-svg {
  }*/
  .footer {
    padding: 100px 0;
  }
  .footer-positions {
    display: flex;
  }
  .footer-blok {
    align-items: normal;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .footer-social {
    margin-left: 120px;
    margin-bottom: 0;
    align-items: normal;
  }
  .text-footer-form {
    justify-content: flex-start;
    margin-top: 0;
    line-height: 1.6;
  }
  .position-footer-form {
    position: relative;
    margin-left: 80px;
  }
  .footer-input-modal {
    margin-bottom: 0;
    width: 264px;
  }
  .footer-form-sabmit {
    position: absolute;
    top: 37%;
    left: 100%;
    margin-left: 24px;
    cursor: pointer;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-sabmit:hover,
  .footer-form-sabmit:focus {
    background: #404bbf;
  }
  /* ========/footer======= */
}
