/* =============header========= */
.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  color: var(--title-text-color);
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  margin-right: 78px;
}
.logo-web {
  color: var(--accent-color);
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.site-nav {
  display: none;
}
.styles-adress {
  display: none;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 22px;
}
.mobile-btn-open {
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 0;
  cursor: pointer;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-height: 796px;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.btton-mobile-close {
  display: block;
  justify-content: center;
  margin: auto;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-menu {
  /* position: absolute;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  top: 24px;
  right: 24px; */

  min-width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-mobile-menu {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
}
.mobile-nav-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 40px;
}
.mobile-nav-list:last-child {
  margin-bottom: 0;
}
.nav-mobile-menu {
  margin: 0;
}
.contacts-mobile-list {
  margin-top: 284px;
}
.contacts-mobile-menu {
  min-width: 353px;
  margin-bottom: 40px;
}
.tel-mobile-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #4d5ae5;
  order: 0;
  flex-grow: 0;
}
.contacts-mobile-menu:last-child {
  margin-bottom: 0;
}
.mail-mobile-menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #434455;
}
.social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socila-list {
  display: flex;

  gap: 56px;
  margin-top: 48px;
}
.social-list-icon {
  fill: var(--hero-text-color);
}
/* =============/header========= */

/* =============hero======== */
/*  
@media screen and (min-width: 428px) {
  .hero {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero {
  background-color: var(--title-text-color);
  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-bg.jpg);
  background-size: cover;
  width: 1440px; ======
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
}
.hero-title {
  width: 496px;

  margin-right: auto;
  margin-left: auto;

  color: var(--hero-text-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.08;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--studio-btn-hover);
  color: var(--hero-text-color);
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;

  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bakdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}
.bakdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.button-modal {
  min-width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--text-dark-background);
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-modal {
  display: block;
  justify-content: center;
  margin: auto;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus,
.svg-modal:hover,
.svg-modal:focus {
  background-color: var(--portfolio-btn-color);
}
.button-modal:hover > .svg-modal {
  fill: var(--hero-text-color);
}
.text-modal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-top: 0;
}
.label-style {
}
.text-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.input-modal {
  width: 100%;
  height: 40px;
  left: 0;

  border: 1px solid rgb(46, 47, 66, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 38px;
  color: #000000;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus {
  border-color: var(--accent-color);
  outline: none;
}
.input-modal:focus + .form-svg {
  fill: var(--accent-color);
}
.textarea-modal {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgb(46, 47, 66, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.textarea-modal:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-style {
  display: flex;
  flex-direction: column;
}
.form-svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.positions-icon-form {
  position: relative;
  margin-bottom: 8px;
  display: block;
}
.modal-label-desc::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
}
.modal-input-check:checked + .modal-label-desc::before {
  background-color: var(--portfolio-btn-color);
  background-image: url(../images/modal-form-check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px 8px;
}
.modal-input-check:focus + .modal-label-desc::before {
  cursor: pointer;
}
.modal-label-desc {
  display: flex;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
  margin-bottom: 24px;
  margin-top: 16px;
}
.privacy-modal-form {
  color: var(--accent-color);
}
.modal-form-sabmit {
  color: var(--hero-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  align-self: center;
  justify-content: center;
  padding: 16px 32px;
  gap: 10px;

  width: 169px;
  height: 56px;

  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-sabmit:hover,
.modal-form-sabmit:focus {
  background-color: var(--studio-btn-hover);
  color: var(--hero-text-color);
}*/
/* =============/hero======== */
