:root {
  --primery-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hero-text-color: #ffffff;
  --background-fone: #f4f4fd;
  --text-dark-background: #e7e9fc;
  --portfolio-btn-color: #404bbf;
  --studio-btn-hover: #404bbf;
}
/* ----------------styles-reset */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
} */
/* ----------------/styles-reset */

/* 1 level of text--  #434455; */
/* 2 level of text--  #2E2F42;  */
/* color for white text-- #FFFFFF; */
/* accent color-- #4D5AE5 */
/* background level-1: #FFFFFF; */
/* background level-2: #F4F4FD; */

/* body {
  font-family: "Roboto", sans-serif;

  background-color: #ffffff;
} */
/*
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
/* ----------------(header)style logo  */
/* .header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.container-header {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  margin-right: 78px;
}
.logo-web {
  color: var(--accent-color);
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
} */
/*----------------  /style logo */
/*----------------  nav-style */
/* .nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-contact:hover,
.site-contact:focus {
  color: var(--accent-color);
}
.site-contact {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-adres {
  margin-left: 40px;
}
.site-contacts {
  display: flex;
  align-items: center;
}
.styles-adress {
  margin-left: auto;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-list:not(:last-child) {
  margin-right: 40px;
  position: relative;
}
.nav-link.active {
  color: var(--portfolio-btn-color);
}
.nav-link.active::after {
  content: "";
  position: absolute;
  background-color: var(--portfolio-btn-color);
  width: 100%;
  height: 4px;
  left: 0;
  top: 43px;
  border-radius: 2px;
} */
/*---------------- /nav-style */

/* ---------------- hero section */
/* .hero {
  background-color: var(--title-text-color);
  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-bg.jpg);
  background-size: cover;
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
}
.hero-title {
  width: 496px;

  margin-right: auto;
  margin-left: auto;

  color: var(--hero-text-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.08;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--studio-btn-hover);
  color: var(--hero-text-color);
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;

  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bakdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}
.bakdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.button-modal {
  min-width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--text-dark-background);
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-modal {
  display: block;
  justify-content: center;
  margin: auto;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus,
.svg-modal:hover,
.svg-modal:focus {
  background-color: var(--portfolio-btn-color);
}
.button-modal:hover > .svg-modal {
  fill: var(--hero-text-color);
} */

/* ---------modal form input   */
/* .text-modal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-top: 0;
}
.label-style {
}
.text-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.input-modal {
  width: 100%;
  height: 40px;
  left: 0;

  border: 1px solid rgb(46, 47, 66, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 38px;
  color: #000000;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus {
  border-color: var(--accent-color);
  outline: none;
}
.input-modal:focus + .form-svg {
  fill: var(--accent-color);
}
.textarea-modal {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgb(46, 47, 66, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.textarea-modal:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-style {
  display: flex;
  flex-direction: column;
} */
/* .form-svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.positions-icon-form {
  position: relative;
  margin-bottom: 8px;
  display: block;
}
.modal-label-desc::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
}
.modal-input-check:checked + .modal-label-desc::before {
  background-color: var(--portfolio-btn-color);
  background-image: url(../images/modal-form-check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px 8px;
}
.modal-input-check:focus + .modal-label-desc::before {
  cursor: pointer;
}
.modal-label-desc {
  display: flex;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
  margin-bottom: 24px;
  margin-top: 16px;
}
.privacy-modal-form {
  color: var(--accent-color);
}
.modal-form-sabmit {
  color: var(--hero-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  align-self: center;
  justify-content: center;
  padding: 16px 32px;
  gap: 10px;

  width: 169px;
  height: 56px;

  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-sabmit:hover,
.modal-form-sabmit:focus {
  background-color: var(--studio-btn-hover);
  color: var(--hero-text-color);
} */
/* ---------/modal form input  */

/* ---------------- /hero section */
/* ---------------- section style */
/* .section {
}
.section-caption {
}
.sections-list {
  display: flex;

  gap: 24px;

  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0;
}

.section-items {
  width: calc((100% - 72px) / 4);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-width: 264px;
  margin: 0;
}
.sections-icon-list {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--background-fone);
  padding: 24px 100px;
}
.sections-icon {
  padding: 24px 100px;
} */

/*----------------  /section style */
/* ---------------- section-2 style */
/* .section-meta {
}
.meta-caption {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.meta-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}
.list {
}
.meta-pic {
  flex-basis: calc((100% - 48px) / 3);
} */
/* ---------------- /section-2 style */
/* ---------------- section-3 style */
/* .section-team {
  background-color: var(--background-fone);
}
.team-caption {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}
.list {
}
.team-pic {
  flex-basis: calc((100% - 72px) / 4);
}
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  margin: auto;
}
.border-team {
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 32px 0;
}
.socila-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--portfolio-btn-color);
}
.social-list-icon {
  fill: var(--hero-text-color);
} */
/* ---------------- /section-3 style */
/* ---------------- section-4 style */

/* .customers-link {
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--portfolio-btn-color);
  border: 1px solid var(--portfolio-btn-color);
}
.customers-icon {
  fill: currentColor;
}
.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--title-text-color);

  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.customers {
  padding-top: 130px;
  padding-bottom: 120px;
} */

/* .customers-icon:hover,
.customers-icon:focus,
.customers-link:hover,
.customers-link:focus {
  fill: var(--portfolio-btn-color);
  border: 1px solid var(--portfolio-btn-color);
} */
/* ---------------- /section-4 style */
/* ---------------- footer section  */
/* .footer {
  background-color: var(--title-text-color) 
  padding-top: 100px;
  padding-bottom: 100px;
}
.logofoter {
  color: var(--background-fone);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 16px;
}
.footer-text {
  color: var(--text-dark-background);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin: 0;
}
.footer-blok {
  width: 264px;
}
.footer-social {
  display: inline-block;
  width: 208px;
  margin-left: 120px;
}
.footer-positions {
  display: flex;
}
.footer-social-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);

  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-social-list-icon {
  fill: var(--hero-text-color);
} */

/* ------footer-form------- */
/* .position-footer-form {
  display: inline-block;
  margin-left: 80px;
}
.footer-label-style {
  display: flex;
  margin-top: 16px;
}
.footer-input-modal {
  color: var(--hero-text-color);
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: var(--title-text-color);
  min-width: 264px;
  height: 40px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input-modal:focus {
  border-color: var(--accent-color);
  outline: none;
}
.footer-input-modal::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 16px 8px;

  color: var(--hero-text-color);
}

.form-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.footer-form-sabmit {
  background-color: var(--accent-color);
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  margin-left: 24px;

  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-sabmit:hover,
.footer-form-sabmit:focus {
  background-color: var(--studio-btn-hover);
  color: var(--hero-text-color);
}
.text-footer-form {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--hero-text-color);
  margin-bottom: 0;
  margin-top: 0;
}
.footer-form-svg {
} */
/* -----------/footer-form---------- */

/* ---------------- /footer section  */
/* ---------------- PORTFOLIO menu-section */

.button-all:hover,
.button-all:focus {
  background-color: var(--portfolio-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--hero-text-color);
}
/* .button-all {
  background-color: var(--background-fone);
  color: var(--accent-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
} */
.btn:hover,
.btn:focus {
  background-color: var(--portfolio-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--hero-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
  background-color: var(--background-fone);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 12px 24px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------- /PORTFOLIO menu-section */
/* ----------------Section portfolio page */
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin: 0;
}
.list-button {
  padding-top: 96px;
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.page-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  padding-bottom: 120px;
  row-gap: 48px;
  column-gap: 24px;
}
/* .gallery-page:nth-child(n + 7) {
  padding-bottom: 0;
} */
.border-gallery {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-left: 16px;
  padding-bottom: 32px;

  padding-top: 32px;
}
.gallery-page {
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-hover {
  display: block;
  text-decoration: none;
}
.gallery-hover:hover,
.gallery-hover:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlays-card {
  position: relative;
  overflow: hidden;
}
.overlays {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  top: 0;
  position: absolute;
  background-color: var(--accent-color);
  color: var(--background-fone);
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  overflow: auto;

  transform: translate(0, 100%);
  transition: transform 250ms linear;
}
.gallery-hover:hover .overlays,
.gallery-hover:focus .overlays {
  transform: translate(0, 0);
}
/* div.overlays-card>p.overlays */
/* ----------------/Section portfolio page  */
