/* .container {
  padding-left: 15px;
  padding-right: 15px;
} */
@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}
